[submodule "gap"]
	path = gap
	url = https://github.com/gnustep/gap
[submodule "apps-gorm"]
	path = apps-gorm
	url = https://github.com/gnustep/apps-gorm
[submodule "apps-projectcenter"]
	path = apps-projectcenter
	url = https://github.com/gnustep/apps-projectcenter
[submodule "backbone"]
	path = backbone
	url = https://git.savannah.nongnu.org/git/backbone.git
